includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - src

    # Level 10 is the highest level
    level: 5

    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    editorUrlTitle: '%%file%%:%%line%%'

    ignoreErrors:
        - '#Model::getPubli#'
        - '#PHPDoc tag @return#'
        -
            identifier: instanceof.alwaysFalse
        -
            identifier: booleanOr.alwaysFalse
        -
            identifier: varTag.trait
        -
            identifier: generics.notSubtype
        -
            identifier: varTag.unresolvableType
